extends layout

block content
  h1= title  

  link(rel='stylesheet', href='js/rickshaw/rickshaw.min.css')

  link(rel='stylesheet', href='css/historian.css')
  link(rel='stylesheet', href='css/extensions.css?v=2')

  script(type='text/javascript', src='js/d3/d3.v3.js')
  script(type='text/javascript', src='js/rickshaw/rickshaw.min.js')
  script(type='text/javascript', src='js/jquery.min.js')
  script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js')
  script(type='text/javascript',src='js/extensions.js')

  form(align="right", name="form1", method="post", action="/logout")
    label.logoutLblPos
      input#submit2(type="submit", name="submit2", value="log out")

  h2 Devices
  select(id='deviceslist')
    option(value="") Select a device
  #content
  form#side_panel
    h1 Sensors
    section
      #legend
    section
      #renderer_form.toggler
        input#area(type="radio", name="renderer", value="area", checked="")
        label(for="area") area
        input#bar(type="radio", name="renderer", value="bar")
        label(for="bar") bar
        input#line(type="radio", name="renderer", value="line")
        label(for="line") line
        input#scatter(type="radio", name="renderer", value="scatterplot")
        label(for="scatter") scatter
    section
      #offset_form
        label(for="stack")
          input#stack(type="radio", name="offset", value="zero", checked="")
          span stack
        label(for="stream")
          input#stream(type="radio", name="offset", value="wiggle")
          span stream
        label(for="pct")
          input#pct(type="radio", name="offset", value="expand")
          span pct
        label(for="value")
          input#value(type="radio", name="offset", value="value")
          span value
      #interpolation_form
        label(for="cardinal")
          input#cardinal(type="radio", name="interpolation", value="cardinal", checked="")
          span cardinal
        label(for="linear")
          input#linear(type="radio", name="interpolation", value="linear")
          span linear
        label(for="step")
          input#step(type="radio", name="interpolation", value="step-after")
          span step
    section
      
    
  #chart_container
    #chart
    #timeline
    #preview
  
  script(type='text/javascript', src='js/mqttws31.js')
  script(type='text/javascript', src='js/realtime.js')