extends layout

block content
    link(rel='stylesheet', href='css/dashboard.css')
    
    .container
      form.form-signin(role="form", action="/login", method="post")
        h2.form-signin-heading Internet of Things Foundation Login
        h3 Authentication failed. Check your API key and Auth token of your Organization
        input.form-control(type="text", name="api_key", placeholder="IoTF APIKey", required="", autofocus="")
        input.form-control(type="password", name="auth_token", placeholder="IoTF AuthToken", required="")
        button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in